<% if user_signed_in? %>

<h1>Ultimas Ventas</h1>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Alumno</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @lastVentas.each do |ventum| %>
        <tr>
            <td><%= ventum.student.nombre %></td>
            <td><%= ventum.product.nombre %></td>
            <td><%= ventum.cantidad %></td>
            <td><%= ventum.cantidad*ventum.product.precio %></td>
            <td><%= link_to 'Ticket', ventum ,class:"btn btn-raised btn-primary" %></td>
        </tr>
        <% end %>
    </tbody>
</table>


<h1>Productos Que hay que solicitar</h1>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Product</th>
            <th>Cantidad</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @stocks.each do |stock| %>
        <tr>
            <td><%= stock.product.nombre %></td>
            <td><%= stock.cantidad %></td>
            <td><%= link_to 'Show', stock %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<% elsif alumno_signed_in? %>
<div class="jumbotron">
    <%= image_tag current_alumno.student.imagen.url,width: '200px',height: '200px' %>
    <h3><%= current_alumno.student.nombre%> <%= current_alumno.student.paterno%><%= current_alumno.student.materno%></h3>
    <h3>Matricula:<%= current_alumno.student.matricula %></h3>

    <h5>saldo:</h5>
    <p><%= Monedero.find_by(student: current_alumno.student).cantidad%></p>

    <h3>Ultimas Compras</h3>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
                <% @venta.where(student: current_alumno.student).each do |ventum| %>
                <tr>
                    <td><%= ventum.student.nombre %></td>
                    <td><%= ventum.product.nombre %></td>
                    <td><%= ventum.cantidad %></td>
                    <td><%= ventum.cantidad*ventum.product.precio %></td>
                </tr>
                <% end %>
        </tbody>
    </table>

    <h3>Ultimos depositos</h3>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Cantidad</th>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @deposito.where(student: current_alumno.student).each do |deposito| %>
            <tr>
                <td><%= deposito.student.nombre %></td>
                <td><%= deposito.cantidad %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>


<% end %>
